<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="strict-origin-when-cross-origin" />
    <title>Trăn khìn</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/w3.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="#" class="active">Tạo công tác</a>
        <a href="/ptvh">PTVH</a>
        <a href="/op-data">TSVH</a>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="logout-button" style="float: right;">Log Out</button>
        </form>
        <a href="#" id="username" style="float: right;" class="userdisplay">
            <%=userId %>
        </a>
    </div>

    <h1>TẠO CÔNG TÁC</h1>
    <div class="create-group-container">
        <form id="create-group-detail-form" action="/create-group-detail" method="POST">
            <div><b>Thêm công tác: </b></div>
            <div>
                <label>Group ID: </label>
                <input id="group_id" type="text" name="group_id" group_key=<%=group_id %> single_key=<%=hidden_id %> style='width:15%;' readonly="true">
            </div>
            <div>
                <div style="display:inline-block; padding-right: 2%">
                    <label>Thời gian dự kiến bắt đầu: </label>
                    <input type="datetime-local" name="schedule_start" id="schedule_start">
                </div>
                <div style="display:inline-block; padding-right: 2%">
                    <label>Thời gian dự kiến kết thúc: </label>
                    <input type="datetime-local" name="schedule_finish" id="schedule_finish">
                </div>
            </div>
            <div>
                <label>Đơn vị: </label>
                <input type="text" id="crew" name="crew" style='width:25rem;'>
            </div>
            <div>
                <label>Trạm/NM: </label>
                <input type="text" id="station" name="station" style='width:25rem;'>
            </div>
            <div>
                <div style="display:inline-block; padding-right: 5rem">
                    <label>Phần tử công tác: </label>
                    <textarea type="text" id="element" name="element" wrap="soft"
                        style='width:25rem; height:10rem; word-break: break-word'></textarea>
                </div>
                <div style="display:inline-block; padding-right: 5rem">
                    <label>Nội dung công tác: </label>
                    <textarea type="text" id="content" name="content" wrap="soft"
                        style='width:25rem; height:10rem; word-break: break-word'></textarea>
                </div>
            </div>
            <div>
                <label>PTT: </label>
                <input type="text" id="ptt" name="ptt" style='width:25rem;'>
            </div>
            <div id="form-btn" style="margin-top: .5rem;">
            </div>
            <script src="/js/create-group-detail.js"></script>
        </form>
    </div>

    <div id="list-ct-container"> </div>

    <img src="/img/tran.jpg" width="50%" class="center" />
</body>

</html>