<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trăn khìn</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/w3.css">
</head>

<body>
    <div class="topnav">
        <a href="#" class="active">Home</a>
        <a href="/create-group-detail/0">Tạo công tác</a>
        <a href="/upload">Upload File</a>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="logout-button" style="float: right;">Log Out</button>
        </form>
        <a href="#" id="username" style="float: right;" class="userdisplay">
            <%=userId %>
        </a>
    </div>
    <h1>HOME PAGE</h1>
    <div id="date-list-container" class="date-list-container"> </div>
    <div id="list-ct-container"> </div>
    <script src="/js/index.js"></script>

    <img src="/img/tran.jpg" width="50%" class="center" />
</body>

</html>