<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trăn khìn</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/w3.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create-group-detail/0">Tạo công tác</a>
        <a href="#" class="active">PTVH</a>
        <a href="#">Điều hành</a>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="logout-button" style="float: right;">Log Out</button>
        </form>
        <a href="#" id="username" style="float: right;" class="userdisplay">
            <%=userId %>
        </a>
    </div>
    <h1>PTVH</h1>
    <div id="ptvh-status" class="date-list-container"></div>
    <div id="date-list-container" class="date-list-container"> </div>
    <div class="create-group-container">
        <form id="create-group-detail-form" action="/create-group-detail" method="POST">
            <div><b>Thêm lưu ý vận hành: </b></div>
            <div>
                <label>Nội dung: </label>
                <textarea type="text" id="content" name="content" wrap="soft"
                    style='width:75rem; height:5rem; word-break: break-word'></textarea>
            </div>
            <div id="form-btn" style="margin-top: .5rem;">
            </div>
        </form>
    </div>
    <div id="note-ct-container"> </div>
    <div id="list-ct-container"> </div>
    <script src="/js/ptvh.js"></script>

    <img src="/img/tran.jpg" width="50%" class="center" />
</body>

</html>