<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trăn khìn</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/upload">Upload File</a>
</div>
<label>You have uploaded this image:</label>
<hr /><img src="/img/<%=req.file.filename %>" width="500">
<hr /><a href="/upload">Upload another image</a>